.git
.gitlab
.idea
.env
.env.*
backend/.env
backend/config/jwt/*.pem
backend/var
backend/vendor
frontend/node_modules
frontend/.next
frontend/.env*
frontend/yarn-error.log
python/venv
python/chromedriver
python/data.json
log.txt
frontend/public/images/*.tar.xz
frontend/public/images/*.zip
frontend/public/images/node-v22.12.0-linux-x64
