POSTGRES_DB=exchange-rates
POSTGRES_PASSWORD=exchange-rates
POSTGRES_USER=exchange-rates
POSTGRES_HOST=database
# for generating secret: `openssl rand -base64 32`
AUTH_SECRET=

NEXT_PUBLIC_API_URL=http://localhost:${BACKEND_PORT}
NEXT_PUBLIC_API_URL_FROM_SERVER=http://nginx:${BACKEND_PORT}

DATABASE_PORT=5439
BACKEND_PORT=8000
FRONTEND_PORT=3001

LINUX_USER_ID=1000
XDEBUG_REMOTE_HOST=172.17.0.1
XDEBUG_REMOTE_PORT=9034
IDE_SERVER_NAME=exchange-rates

APP_ENV=dev
APP_SECRET=

BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3001

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=
###< lexik/jwt-authentication-bundle ###

###> symfony/lock ###
LOCK_DSN=flock
###< symfony/lock ###

NEXTAUTH_SECRET=tjNbNMlqwvWd0I5TgJhe03UEzH+vibAe/c7tFYSFaAU=

FREE_CURRENCY_API_KEY=
