POSTGRES_DB=exchange-rates
POSTGRES_PASSWORD=exchange-rates
POSTGRES_USER=exchange-rates
POSTGRES_HOST=database

DATABASE_PORT=5432
BACKEND_PORT=3000
FRONTEND_PORT=8000

LINUX_USER_ID=1000
XDEBUG_REMOTE_HOST=172.17.0.1
XDEBUG_REMOTE_PORT=9000
IDE_SERVER_NAME=exchange-rates

APP_ENV=dev
APP_SECRET=4b65e7da260c640e6aaa8da7267d3d69

BACKEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:8000
