@import "../TopBar/TopBar.module";
@import "../SideBar/SideBar.module";

.content {
  display: block;
  margin-top: $topBarHeight;
  transition: $sideBarCloseSpeed;
  height: calc(100vh - #{$topBarHeight});
  width: -webkit-fill-available;
  background: var(--background, #f4f7f5);
  overflow-y: auto;
  padding: 24px 32px 48px;
  box-shadow: none;

  &.fullWidth {
    transition: $sideBarCloseSpeed;
  }
}
