.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  .loginWindow {
    max-width: 400px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .loginButtons {
      display: flex;
      flex-direction: column;

      > * {
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
