@import "TopBar.module";

.notification {
  cursor: pointer;

  .icon > * {
    width: 24px;
    height: 24px;
    color: #4650dd;;
    margin: 0 8px;
  }

  .countNewNotifications {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-top: -32px;
    margin-left: 24px;
    color: #4650dd;;
    font-size: 14px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ff3f3f;
  }

  .popup {
    top: $topBarHeight;
    right: 0;
    max-width: 400px;

    .notificationItem {
      &:hover {
        text-decoration: none;
        cursor: default;
      }
    }
  }
}
