:root {
    --main-color: #00ab4f;
    --main-color-hover: #e1ffef;
    --main-color-hover-dark: #226d3c;
    --success-color: rgb(0, 171, 79);
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #5dc5f3;
    --text-color: #3c4b64;
    --focus-color-25: rgb(50 31 219 / 25%);
    --focus-color-50: rgb(50 31 219 / 50%);
    --input-border-color: rgb(225, 229, 244);
}
